
div#wrapper {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-align: center;
}

input[type=reset]#reset, input[type=submit]#invia {
    width: 80px;
    margin-right: 10px;
    background-color: white;
}
input[type=reset]#reset {
    margin-right: 20px;
}
input[type=submit]#invia {
    margin-right: 0px;
}
select#regioni {
    padding: 5px 5px;
}
textarea#richiesteParticolari {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 100px;
}
option#defaultOption {
    display:none;
}
tr {
    height: 50px;
}
td {
    text-align: center;
    width: 200px;
}