div#wrapper {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-align: center;
}
div#form_wrapper{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
h1{
     color: midnightblue;

 }
input[type=text],input[type=email], select {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=reset]#reset, input[type=submit]#invia {
    width: 80px;
    margin-right: 10px;
    background-color: white;
}
input[type=reset]#reset {
    background-color: darkcyan;
    color: white;
    margin-right: 20px;
    border-radius: 4px;
    padding: 6px 20px;
}
input[type=reset]:hover #reset{
    background-color: darkslategrey;
}
input[type=submit]#send {
    background-color: darkcyan;
    color: white;
    margin-right: 0px;
    border-radius: 4px;
    padding: 6px 20px;
}
input[type=submit]:hover #send {
    background-color: darkslategrey;
}
textarea{
    border-radius: 4px;
}
select#regioni {
    padding: 5px 5px;
}
div #formwrapper{
    border-radius: 5px;
    background-color: #f2f2f2;
}
textarea#richiesteParticolari {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 100px;
}
option#defaultOption {
    display:none;
}
tr {
    height: 50px;
}
td {
    text-align: center;
    width: 200px;
}